# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# 3D source files - 3DPrinter
public/Models/3DPrinter/printer-metalrough.glb
public/Models/3DPrinter/scene.gltf
public/Models/3DPrinter/scene.bin
public/Models/3DPrinter/textures/

# 3D source files - client models
public/Models/Tablet/tablet.gltf
public/Models/Tablet/data.bin

public/Models/Glasses/glasses.gltf
public/Models/Glasses/data.bin
public/Models/Glasses/*.dds
public/Models/Glasses/*.png

public/Models/BombaRkp/bombaRkp.gltf
public/Models/BombaRkp/data.bin

public/Models/CarTransmission/carTransmission.gltf
public/Models/CarTransmission/data.bin
public/Models/CarTransmission/*.dds
public/Models/CarTransmission/*.png

public/Models/CdrTool/cdrTool.gltf
public/Models/CdrTool/data.bin

public/Models/ColgateCase/ColgateCase.gltf
public/Models/ColgateCase/data.bin

# zip sources
*.zip